[submodule "object-store-api"]
	path = object-store-api
	url = https://github.com/AAFC-BICoE/object-store-api
	branch = dev
        update = merge
[submodule "agent-api"]
	path = agent-api
	url = https://github.com/AAFC-BICoE/agent-api
	branch = dev
        update = merge
[submodule "dina-ui"]
	path = dina-ui
	url = https://github.com/AAFC-BICoE/dina-ui
[submodule "dina-user-api"]
	path = dina-user-api
	url = https://github.com/AAFC-BICoE/dina-user-api
	branch = dev
	    update = merge
[submodule "seqdb-api"]
	path = seqdb-api
	url = https://github.com/AAFC-BICoE/seqdb-api.git
