services:
  # Nextjs's dev-mode server that hot-reloads the UI source code.
  dina-ui-dev-server:
    image: node:20
    volumes:
      - "${DINA_UI_REPO_DIRECTORY}:/dina-ui"
    stop_signal: SIGKILL
    # NodeJS Garbage Collection Heap Size is configured here, can be useful to increase if you are 
    # out of memory in dev mode. Size is in MB.
    command: >
      bash -c "
      export NODE_OPTIONS="--max-old-space-size=4096" ;
      yarn --cwd=/dina-ui/packages/dina-ui ;
      yarn --cwd=/dina-ui/packages/dina-ui dev
      "
    networks:
      - dina
  
  # Front-end gateway that proxies URLs to the correct service. 
  # This overlays the existing dina-ui to add the dev.Caddyfile and dina-ui-dev-server address.
  dina-ui:
    volumes:
      - "${DINA_UI_REPO_DIRECTORY}/packages/dina-ui/dev.Caddyfile:/etc/caddy/Caddyfile"
    environment:
      UI_DEV_SERVER_ADDRESS: dina-ui-dev-server:3000
