<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  </head>
  <body>
    <form action="/labels/v1.0/" method="POST">
		<strong>Format: </strong><select name="format"><option value="html">HTML</option><option value="pdf">PDF</option></select>
		<strong>Template: </strong> <input type="text" name="template" value="template.html"/> <input type="submit" value="Send data"/>
		<br/>
		<strong>Data:</strong><br/>
		<textarea name="data" style="width: 900px; height: 500px;">[
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Peruphasma schultei  Conle &amp; Hennemann, 2005"
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Extatosoma tiaratum  (Macleay, 1826)"
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Asceles opacus (Redtenbacher, 1908)"
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D005",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D005",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D006",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D006",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D001",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QR-Code": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	},
]
		
		
		</textarea>
		
	</form>
  </body>
</html>