url: http://keycloak.local:8080/auth/  # Use only the first part of the Keycloak URL, ending after the first '/auth/' 
username: user
password: user
realm_name: dina
client_id: objectstore
secure: False           #Change to True if using https protocol 
 